@page "/Books/edit"
@inject LAB4_2.Data.ApplicationDbContext DB
@using LAB4_2.Components
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Book</h4>
<hr />
@if (Book is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Book" OnValidSubmit="UpdateBook" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Book.Id" value="@Book.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Book.Title" class="form-control" />
                    <ValidationMessage For="() => Book.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Book.Description" class="form-control" />
                    <ValidationMessage For="() => Book.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="releasedata" class="form-label">ReleaseData:</label>
                    <InputDate id="releasedata" @bind-Value="Book.ReleaseData" class="form-control" />
                    <ValidationMessage For="() => Book.ReleaseData" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL:</label>
                    <InputText id="url" @bind-Value="Book.Url" class="form-control" />
                    <ValidationMessage For="() => Book.Url" class="text-danger" />
                </div>
                <input type="hidden" name="Book.Rate" value="@Book.Rate" />
                <input type="hidden" name="Book.RateCount" value="@Book.RateCount" />
                
                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/books">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Book? Book { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Book ??= await DB.Book.FirstOrDefaultAsync(m => m.Id == Id);

        if (Book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateBook()
    {
        DB.Attach(Book!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BookExists(Book!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/books");
    }

    bool BookExists(int id)
    {
        return DB.Book.Any(e => e.Id == id);
    }
}
