@page "/books"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject LAB4_2.Data.ApplicationDbContext DB
@using LAB4_2.Components
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="books/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Book">
    <PropertyColumn Property="book => book.Title" />
    <PropertyColumn Property="@(book => book.ReleaseData)" Sortable="true" Align="Align.Right"/>
    <PropertyColumn Property="book => book.Rate" Sortable="true" Align="Align.Right"/>
    <PropertyColumn Property="book => book.RateCount" Sortable="true" />

    <TemplateColumn Context="book">
        <a href="@($"books/edit?id={book.Id}")">Edit</a> |
        <a href="@($"books/details?id={book.Id}")">Details</a> |
        <a href="@($"books/delete?id={book.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
